/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
:root {
  --cor1: #F25C93;
  --cor2: #BF4B81;
  --cor3: #010A26;
  --cor4: #90A66F;
  --cor5: #F2F2F2;
  --white: #ffffff;
  --black: #000000;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body{
  background-color: var(--cor3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  letter-spacing: .3rem;
}

h1 {
  color: var(--cor2);
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  color: var(--cor5);
  font-size: 2rem;
  margin-bottom: 1rem;
}

h5 {
  color: var(--white);
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 3rem;
}

span {
  font-size: 1.6rem;
}

input {
  border: none;
  border-radius: .5rem;
  width: 100%;
  font-family: inherit;
  padding: 1rem;
  letter-spacing: .3rem;
  margin-bottom: 2rem;
}

button {
  padding: 1rem 2rem;
  background-color: var(--cor1);
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  color: var(--cor5);
  letter-spacing: .3rem;
  font-family: inherit;
  font-size: 2rem;
}

button:hover {
  background-color: var(--cor2);
}

button:active {
  color: #010A26;
}

.container {
  width: 60rem;
}

textarea {
  border: none;
  border-radius: .5rem;
  display: block;
  width: 100%;
  height: 10rem;
  font-family: inherit;
  padding: 1rem;
  margin: 0 auto 1rem auto;
  letter-spacing: .3rem;
}

#tags {
  width: 95%;
  display: flex;
  justify-content: center;
}

.tag {
  background-color: var(--cor2);
  color: var(--white);
  border-radius: 5rem;
  padding: 1rem 2rem;
  margin: 0 1rem 2rem 0;
  font-size: 1.4rem;
  display: inline-block;
}

.tag.pick {
  background-color: var(--cor4);
}

/* Options */

.options {
  background-color: var(--cor4);
  padding: 2rem;
  border: none;
  border-radius: .5rem;
  margin: 2rem 0;
  width: 350px;
  text-align: center;
}

.options h2 {
  margin-bottom: 2rem;
}

.options ul {
  margin-bottom: 2rem;
}

.options li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options input {
  width: 5rem;
  padding: .5rem;
  font-size: 1.6rem;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}


/* counter */

.counter {
  background-color: var(--cor2);
  /* position: fixed;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide .2s ease-out;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);    
  }
  100% {
  transform: translate(-50%, -50%) scale(0);
  }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
}

.final.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show .2s ease-out;
}

@keyframes show {
  0% {
   transform: translate(-50%, -50%) scale(0);
  }
  30% {
  transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
   transform: translate(-50%, -50%) scale(1);
  }
}
.nums {
  color: #3498db;
  font-size: 10rem;
  position: relative;
  overflow: hidden;
  width: 50rem;
  height: 10rem;
}

.nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in{
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn .5s ease-in-out;
}

.nums span.out{
  animation: goOut .5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60%{
    transform: translate(-50%, -50%) rotate(10deg);
  }

  100% {
   transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);    
  }

  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  100%{
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

#replay{
  background-color: #3498db;
  border-radius: .5rem;
  border: none;
  color: white;
  padding: .5rem 1rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

/* result */

.result {
  background-color: var(--cor4);
  padding: 2rem;
  border: none;
  border-radius: .5rem;
  margin: 2rem 0;
}